<!-- Snippet start -->
<section>

<div class="container" style="margin-top: 30px;">
	<div class="profile-head">
		<div class="col-md- col-sm-4 col-xs-12">
			<%= image_tag( @student.avatar, size: '250x250', class: 'profilePic img-responsive')%>
		</div><!--col-md-4 col-sm-4 col-xs-12 close-->


		<div class="col-md-5 col-sm-5 col-xs-12">
			<h5><%= @student.name %></h5>

			<ul>
				<li><span class="fa fa-envelope fw"></span><%= link_to "Email Parent", parent_path(@student.id) %> </li>
				<li><%= link_to "Back to Profile", teacher_session_path, :method => :get %></li>

			</ul>


		</div><!--col-md-8 col-sm-8 col-xs-12 close-->
	</div><!--profile-head close-->
</div><!--container close-->


<div id="sticky" class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-menu" role="tablist">
      <li class="active">
          <a href="#profile" role="tab" data-toggle="tab">
              <i class="fa fa-graduation-cap"></i> Gradebook
          </a>
      </li>
      <li><a href="#allstudents" role="tab" data-toggle="tab">
          <i class="fa fa-user"></i> Attendance Book
          </a>
      </li>
			<li><a href="#behavior" role="tab" data-toggle="tab">
          <i class="fa fa-user"></i> Behavior Report
          </a>
      </li>
			<li><a href="#participation" role="tab" data-toggle="tab">
          <i class="fa fa-user"></i> Participation
          </a>
      </li>
			<li><a href="#account" role="tab" data-toggle="tab">
					<i class="fa fa-key"></i> Account
					</a>
			</li>
    </ul><!--nav-tabs close-->

    <!-- Tab panes -->
		<div class="tab-content">
    	<div class="tab-pane fade active in" id="profile">
    		<div class="container">
					<div class="col-sm-11" style="float:left;">
						<div class="hve-pro">
							<p>
								Add Grades to the book
							</p>
							<span class = 'new-class-btn'= ><span class = 'fa fa-plus-circle fa-3x' ></span></span>
							<div id='new-class' class='col-sm-12'>
								<p>Create grades</p>
								<%= form_for Grade.new do |f| %>
									<%= f.label :Date %>
									<%= f.date_field :date, :value=>Date.today %>
									<br>
									<%= f.label :Assignment_Name %>
									<%= f.text_field :assignment %>
									<br>
									<%= f.label :Score %>
									<%= f.number_field :score, in: 1...101%>
									<br>

									<%= f.hidden_field :student_id, :value => @student.id %>
									<br>
									<%= f.submit %>
								<%end%><br><br>
							</div>
						</div><!--hve-pro close-->
					</div><!--col-sm-12 close-->
					<br clear="all" />
					<div class="row">
						<div class="col-md-12">
							<h4 class="pro-title">Grades</h4>
						</div><!--col-md-12 close-->


						<div class="col-md-6" style = 'width: 90% !important; margin-left:50px;'>

							<div class="table-responsive responsiv-table">
  							<table class="table bio-table">
      						<tbody>
		     						<tr>
											<% @grades.each do |g| %>
											<td>
												<%=g.assignment%>
												<%=g.score%>
												<%= link_to 'Remove Report', g, method: :delete %>
												<% end %>
											</td>
											<td>
												<p>Average Grade <%=@gradesAvg%> </p>

												<%= column_chart @grades.group(:assignment).sum(:score) %>
											</td>
										</tr>








									</tbody>
								</table>
							</div><!--This area is to respond to a callback to courses show partial when teacher selects a course-->
						</div><!--col-md-6 close-->


					</div><!--row close-->
				</div><!--container close-->
			</div><!--tab-pane close-->

			<div class="tab-pane fade" id="allstudents">
				<div class="container fom-main">
					<div class="col-sm-11" style="float:left;">
						<div class="hve-pro">
							<p>
								Mark Attendance
							</p>
							<span class = 'new-student-btn'= ><span class = 'fa fa-plus-circle fa-3x' ></span></span>
							<div id='new-student' class='col-sm-12'>
								<%= form_for Attendance.new do |f| %>
									<%= f.label :Date %>
									<%= f.date_field :date, :value=>Date.today %>
									<br>
									<%= f.label :Mark_Absent %>
									<%= f.check_box :is_present %>

									<br>
									<%= f.label :student_id %>
									<%= f.number_field :student_id, :value => @student.id %>
									<br>
									<%= f.submit %>
								<%end%>
							</div>
						</div><!--hve-pro close-->
					</div><!--col-sm-12 close-->
					<div class="row">
					</div><!--row close-->
					<br />
				<div class = 'col-md-6',style = 'width: 90% !important; margin-left:50px;'>


					<div class="row">
						<table class="table bio-table">
							<tbody>
								<tr>
								<td>
									Absent Records: <br>
									<% @attendance.each do |g| %>
									<br>
										<% if g.is_present == true %>
											 <%=g.date%>
										<%else%>
											<p><%=@student.name%> You have Perfect Attendance!</p>
										<%end%>
										<%= link_to 'Remove Report', g, method: :delete %>
									<% end %>
									<p> --- </p>
								</td>
								</tr>



							</tbody>
						</table>



					</div><!--row close-->
				</div>
				</div><!--container close -->
			</div>

			<div class="tab-pane fade" id="behavior">
				<div class="container fom-main">
					<div class="col-sm-11" style="float:left;">
						<div class="hve-pro">
							<p>
								Incident Report
							</p>
							<span class = 'new-behavior-btn'= ><span class = 'fa fa-plus-circle fa-3x' ></span></span>
							<div id='new-behavior' class='col-sm-12'>
								<%= form_for BehaviorReport.new do |f| %>
									<%= f.label :Date %>
									<%= f.date_field :date, :value=>Date.today %>
									<br>
									<%= f.label :Report %>
									<%= f.text_area :report %>
									<br>
									<%= f.label :student_id %>
									<%= f.number_field :student_id, :value => @student.id %>
									<br>
									<%= f.submit %>
								<%end%>

							</div>
						</div><!--hve-pro close-->
					</div><!--col-sm-12 close-->
					<div class="row">
					</div><!--row close-->
					<br />
				<div class = 'col-md-6',style = 'width: 90% !important; margin-left:50px;'>


					<div class="row">
						<table class="table bio-table">
							<tbody>
								<tr>
									<% @behavior.each do |g| %>

										<%=g.report%>
										<%= link_to 'Remove Report', g, method: :delete %>
									<% end %>

									</td>
								</tr>



							</tbody>
						</table>



					</div><!--row close-->
				</div>
				</div><!--container close -->
			</div>

			<div class="tab-pane fade" id="participation">
				<div class="container fom-main">
					<div class="col-sm-11" style="float:left;">
						<div class="hve-pro">
							<p>
								Participation
							</p>
							<span class = 'new-participation-btn'= ><span class = 'fa fa-plus-circle fa-3x' ></span></span>
							<div id='new-participation' class='col-sm-12'>
								<%= form_for ParticipationReport.new do |f| %>
									<%= f.label :Date %>
									<%= f.date_field :date, :value=>Date.today %>
									<br>
									<%= f.label :Report %>
									<%= f.number_field :report, in: 1...6%>
									<br>
									<%= f.label :student_id %>
									<%= f.number_field :student_id, :value => @student.id %>
									<br>
									<%= f.submit %>
								<%end%>

							</div>
						</div><!--hve-pro close-->
					</div><!--col-sm-12 close-->
					<div class="row">
					</div><!--row close-->
					<br />
				<div class = 'col-md-6',style = 'width: 90% !important; margin-left:50px;'>


					<div class="row">
						<table class="table bio-table">
							<tbody>
								<tr>
									<td>
										<% @participation.each do |g| %>

											<%=g.report%>
											<%= link_to 'Remove Report', g, method: :delete %>
										<% end %>

									</td>
									<td>
										<p> Average Participation score <%=@participationAvg%> </p>
									</td>
								</tr>



							</tbody>
						</table>



					</div><!--row close-->
				</div>
				</div><!--container close -->
			</div>

			<div class="tab-pane fade" id="account">
				<div class="container fom-main">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="register">Edit Student Profile</h2>

						</div><!--col-sm-12 close-->
					</div><!--row close-->
					<br />

					<div class="row">


						<fieldset style = 'width: 50%; margin: 0 auto;'>

						<%= render "students/edit"%>

						</fieldset>

					</div><!--row close-->
				</div><!--container close -->
			</div><!--tab-pane close-->
		</div><!--tab-content close-->
	</div><!--container close-->

</section><!--section close-->

