
<!-- student name and avatar -->
<%= @student.name %>



<!-- forms to create the different reports -->
<br>
<!-- grade form -->
<p>Create grades</p>
<%= form_for Grade.new do |f| %>
	<%= f.label :Date %>
	<%= f.date_field :date, :value=>Date.today %>
	<br>
	<%= f.label :Assignment_Name %>
	<%= f.text_field :assignment %>
	<br>
	<%= f.label :Score %>
	<%= f.number_field :score, in: 1...101%>
	<br>
	<%= f.label :student_id %>
	<%= f.number_field :student_id, :value => @student.id %>
	<br>
	<%= f.submit %>
<%end%><br><br>

<!-- create abscense -->
<p>Mark Absent</p>
<%= form_for Attendance.new do |f| %>
	<%= f.label :Date %>
	<%= f.date_field :date, :value=>Date.today %>
	<br>
	<%= f.label :Mark_Absent %>
	<%= f.check_box :is_present %>
	
	<br>
	<%= f.label :student_id %>
	<%= f.number_field :student_id, :value => @student.id %>
	<br>
	<%= f.submit %>
<%end%>
<br><br>
<!-- create behavior Report -->

<p>Behavior Incident</p>
<%= form_for BehaviorReport.new do |f| %>
	<%= f.label :Date %>
	<%= f.date_field :date, :value=>Date.today %>
	<br>
	<%= f.label :Report %>
	<%= f.text_area :report %>
	<br>
	<%= f.label :student_id %>
	<%= f.number_field :student_id, :value => @student.id %>
	<br>
	<%= f.submit %>
<%end%>


<!-- Create Participation Report -->

<br><br>

<p>Participation Report</p>
<%= form_for ParticipationReport.new do |f| %>
	<%= f.label :Date %>
	<%= f.date_field :date, :value=>Date.today %>
	<br>
	<%= f.label :Report %>
	<%= f.number_field :report, in: 1...6%>
	<br>
	<%= f.label :student_id %>
	<%= f.number_field :student_id, :value => @student.id %>
	<br>
	<%= f.submit %>
<%end%>


<br><br>

<!-- prints out all the report values with a delete method -->
<% @behavior.each do |g| %>
	
	<%=g.report%>
	<%= link_to 'Remove Report', g, method: :delete %>
<% end %>
<p> --- </p>
<% @participation.each do |g| %>
	
	<%=g.report%>
	<%= link_to 'Remove Report', g, method: :delete %>
<% end %>
<p> --- </p>
Absent Records: <br>
<% @attendance.each do |g| %>
<br>
	<% if g.is_present == true %>
		 <%=g.date%>
	<%else%>
		<p><%=@student.name%> You have Perfect Attendance!</p>
	<%end%>
	<%= link_to 'Remove Report', g, method: :delete %>
<% end %>
<p> --- </p>

<% @grades.each do |g| %>
	
	<%=g.assignment%>
	<%=g.score%>
	<%= link_to 'Remove Report', g, method: :delete %>
<% end %>
<p> --- </p>
<!-- prints an average for participation and grade -->
<p> Average Participation score <%=@participationAvg%> </p>
<p> --- </p>
<p>Average Grade <%=@gradesAvg%> </p>


