
<!-- Snippet start -->
<section>

<div class="container" style="margin-top: 30px;">
	<div class="profile-head">
		<div class="col-md- col-sm-4 col-xs-12">
			<%= image_tag( @teacher.avatar, size: '250x250', class: 'profilePic img-responsive')%>
		</div><!--col-md-4 col-sm-4 col-xs-12 close-->


		<div class="col-md-5 col-sm-5 col-xs-12">
			<h5><%= @teacher.name %></h5>

			<ul>
				<li><span class="fa fa-envelope fw"></span><%= @teacher.email %></li>
				<li><%= link_to "Sign out", destroy_teacher_session_path, :method => :delete %></li>

			</ul>


		</div><!--col-md-8 col-sm-8 col-xs-12 close-->




	</div><!--profile-head close-->
</div><!--container close-->


<div id="sticky" class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-menu" role="tablist">
      <li class="active">
          <a href="#profile" role="tab" data-toggle="tab">
              <i class="fa fa-graduation-cap"></i> Courses
          </a>
      </li>
      <li><a href="#change" role="tab" data-toggle="tab">
          <i class="fa fa-key"></i> Account Settings
          </a>
      </li>
    </ul><!--nav-tabs close-->

    <!-- Tab panes -->
		<div class="tab-content">
    	<div class="tab-pane fade active in" id="profile">
    		<div class="container">
					<div class="col-sm-11" style="float:left;">
						<div class="hve-pro">
							<p>
								These are all your Courses that you teach.
							</p>
							<span class = 'new-class-btn'= ><span class = 'fa fa-plus-circle fa-3x' ></span></span>
							<div id='new-class' class='col-sm-12'>
								<%= form_for Course.new do |f| %>


								<%= f.label :name %><br>
								<%= f.text_field :name, class:'form-control' %>

								<%= f.label :Avatar %>
								<%= f.file_field :avatar, class:'form-control' %>

								<%= f.submit %>

								<% end %>
							</div>
						</div><!--hve-pro close-->
					</div><!--col-sm-12 close-->
					<br clear="all" />
					<div class="row">
						<div class="col-md-12">
							<h4 class="pro-title">Courses</h4>
						</div><!--col-md-12 close-->


						<div class="col-md-6" style = 'width: 90% !important; margin-left:50px;'>

							<div class="table-responsive responsiv-table">
  							<table class="table bio-table">
      						<tbody>
		     						<tr>
											<% @course.in_groups(3,false) do |group| %>
											<%group.each do |g| %>

											<td>
												<br />
												<%= image_tag (@courses.find(@courses.where(name: g.name).ids[0]).avatar), size: '150x150' %>
												<ul>

												<%= link_to g.name, course_path(@courses.find(@courses.where(name: g.name).ids[0]))  %>
											</ul>
											<% end %>
											</td>
										</tr>
										<% end %>


									</tbody>
								</table>
							</div><!--table-responsive close-->
						</div><!--col-md-6 close-->


					</div><!--row close-->
				</div><!--container close-->
			</div><!--tab-pane close-->


			<div class="tab-pane fade" id="change">
				<div class="container fom-main">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="register">Edit Your Profile</h2>

						</div><!--col-sm-12 close-->
					</div><!--row close-->
					<br />

					<div class="row">


						<fieldset style = 'width: 50%; margin: 0 auto;'>
							<%= render "teachers/registrations/edit", locals: { resource: @resource, :resource_name => :teacher } %>


						</fieldset>

					</div><!--row close-->
				</div><!--container close -->
			</div><!--tab-pane close-->
		</div><!--tab-content close-->
	</div><!--container close-->

</section><!--section close-->
