<div id='teacher-profile'>
	<%= image_tag( @teacher.avatar, size: '250x250', class: 'profilePic')%>

	<%= form_for @teacher do |f| %>  
		<p>
			<%= f.label :Avatar %><br>
			<%= f.file_field :avatar %>
		</p>
		<p>
		    <%= f.submit %>
		</p>
	<%end%>
	<h1><%= @teacher.name %></h1>

	<h3>Add a Course</h3>
	<%= image_tag('plus.png', size: '40x40', class: 'new-class-btn') %>
	
	<div id='new-class'>
		<%= form_for Course.new do |f| %>

		  <p>
		    <%= f.label :name %><br>
		    <%= f.text_field :name %>
		  </p>
		  <p>
		  	<%= f.label :Avatar %>
			<%= f.file_field :avatar %>
		  </p>
		  <p>
		    <%= f.submit %>
		  </p>
		<% end %>
	</div>

	<%= link_to "Sign out", destroy_teacher_session_path, :method => :delete %>


<div id='teacher-courses' class='col-md-12'>
	<% @course.each do |g| %>

		<%= image_tag (@courses.find(@courses.where(name: g.name).ids[0]).avatar), size: '150x150' %>
		<%= link_to g.name, course_path(@courses.find(@courses.where(name: g.name).ids[0])) %>

	<% end %>
	
</div>

  <div class = 'row'>

  </div>
</div>
</div>