
<h1><%= @teacher.name %></h1>

<h3>Add a Course</h3>

<%= form_for Courses.new, remote: true do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<div class = 'container'>

  <div class = 'row'>

  </div>
</div>