
<section>

<div class="container" style="margin-top: 30px;">
	<div class="profile-head">
		<div class="col-md- col-sm-4 col-xs-12">
			<%= image_tag(@course.avatar, size: '250x250', class: 'profilePic img-responsive')%>
		</div><!--col-md-4 col-sm-4 col-xs-12 close-->


		<div class="col-md-5 col-sm-5 col-xs-12">
			<h5><%= @teacher.name%>'s <%=@course.name%></h5>

			<ul>
				<li><span class="fa fa-envelope fw"></span><%= @teacher.email %></li>
				<li><span class="glyphicon glyphicon-arrow-left"></span><%= link_to "Back to Profile", teacher_session_path, :method => :get %></li>
				<li><%= link_to "Sign out", destroy_teacher_session_path, :method => :delete %></li>

			</ul>


		</div><!--col-md-8 col-sm-8 col-xs-12 close-->
	</div><!--profile-head close-->
</div><!--container close-->
<div id="sticky" class="container paddingprof">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-menu" role="tablist">
      <li class="active">
          <a href="#class" role="tab" data-toggle="tab">
              <i class="fa fa-graduation-cap"></i> Class
          </a>
      </li>
    </ul><!--nav-tabs close-->

    <!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane fade active in" id="profile">
			<div class="container">
				<div class="col-sm-11" style="float:left;">
					<div class="hve-pro">
						<p>
							Add more Students to this class.
						</p>
						<span class = 'new-class-btn'= ><span class = 'fa fa-plus-circle fa-3x' ></span></span>
						<div id='new-class' class='col-sm-12'>
							<%= form_for Course.new do |f| %>
							<div class 'form-size' style = 'width:25%; margin: 0 auto;'>

							<%=f.hidden_field :name, :value => @course.name%>

							<%= f.label :Student, class: 'form-control' %>
							<%= f.select :student_id, @allstudents.collect {|x| [x.name, x.id]}, {class: ' btn btn-default dropdown-toggle'}, style: 'background-color:#DE7A22;width:50%;' %>
							<%= f.submit class: 'btn-default' %>
							</div>
								<% end %>
						</div>
					</div>

					<br clear="all" />
					<div class="row">
						<div class="col-md-12">
							<h4 class="pro-title">Courses</h4>
						</div><!--col-md-12 close-->


						<div class="col-md-6" style = 'width: 90% !important; margin-left:50px;'>

							<% @courses.each do |g| %>

								<% if g.student_id === nil%>


								<%else%>
							<div class='students-in-class col-xs-6 col-sm-4 col-md-3'>
										<!-- students name & link to indvidual page -->
									<p>
										<%= link_to @allstudents.find(g.student_id).name, student_path(@allstudents.find(g.student_id).id) %>
									</p>
										<!-- students profile pic -->
									<td>
										<%= image_tag(@allstudents.find(g.student_id).avatar, size: '120x120', class: 'studentPic')%>
									</td>
									<p>
									<span>
										<%= link_to 'Remove', g, method: :delete %></span>
									</p>

							</div>
									<%end%>

								<%end%>


						</div><!--col-md-6 close-->
					</div><!--row close-->
				</div><!--container close-->
			</div><!--tab-pane close-->
		</div><!--tab-content close-->
	</div><!--container close-->
</div>
</section><!--section close-->
