


<div class="container-fluid stylish-form login">
  <a href= 'sign_up' class="btn btn-default btn-sm loginbutton"><i class="fa fa-plus-circle fa-fw"></i> <span class="network-name">Sign Up!</span></a>

      <br />
      <br />
      <div class="row mar20" >
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="inner-section">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="mar20 inside-form">
                <h2 class="font_white text-center">Log In</h2>
                <ul>
                  <li class="icon-holder dsp-flex">
                    <i class="fa fa-facebook "></i>
                  </li>
                  <li class="icon-holder dsp-flex">
                    <i class="fa fa-twitter "></i>
                  </li>
                  <li class="icon-holder dsp-flex">
                    <i class="fa fa-instagram "></i>
                  </li>
                </ul>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                  <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:'Email' %>
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                  <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder:'password' %>
                </div>
                <div class="input-group">
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me, class:'checkbox-inline'%>
                        <%= f.label :remember_me, class: 'form-control checkbox-inline' %>

                    </div>
                  <% end %>
                </div>
                <div class="footer text-center">
                    <%= f.submit "Submit", class:"btn btn-neutral btn-round btn-lg submit" %>
                </div>
              </div>
            <%end%>

          </div>
        </div>
      </div>
    </div>
