<!DOCTYPE html>
<html>
  <head>
    <title>TeachersPet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Shadows+Into+Light' %>
    <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>


      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <% unless controller.controller_name == "teachers" && controller.action_name == "index" || "sign_up" || "sign_in" %>

  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">


    <div class="container topnav">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= image_tag 'logo.png' , :id=> 'logo'%>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/teachers/sign_up">Sign Up</a>
          </li>
          <li id = 'loginhighlight'>
            <a href="/teachers/sign_in">Log In</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
<% end %>
    <%= yield %>

  </body>
</html>
